@import '../../styles/functions.scss';
@import '../../styles/theme.scss';
@import '../../styles/mixins.scss';

$amount-prefix: 'ui-amount';

.#{$amount-prefix} {
  @include reset-component();

  &-container {
    margin: 0 8px;
  }

  &-key {
    font-size: 12px;
    padding-left: 4px;
    padding-right: 4px;
  }

  &-bare {
    margin: 0;
    font-size: 12px;
    cursor: copy;
    color: #aaa;
    padding: 0 4px;

    &:hover {
      color: #3BB3E4;
    }
  }

  &-buy {
    color: #2aa599;
  }

  &-sell {
    color: #ef5451;
  }

  &-up {
    background-color: #2aa599;
    color: #000;
  }

  &-down {
    background-color: #ef5451;
    color: #000;
  }


  &-heading {
    color: $white;
    padding: 3px;
    font-size: 16px;
    line-height: 1.15;
  }
}

