/target/
/.apt_generated/
/.apt_generated_tests/
.idea
*.iml
*.db
webotix.mv.db
webotix.trace.db
**/.checkstyle
**/.classpath
**/.factorypath
**/.fbExcludeFilterFile
**/.idea
**/.project
**/.settings
**/dependency-reduced-pom.xml
**/my-config.yml
**/node_modules
**/*.iml
**/*.versionsBackup
**/*.releaseBackup
release.properties
/target/orko-parent-0.0.1-SNAPSHOT-shaded.pom
