@import '../../styles/functions.scss';
@import '../../styles/theme.scss';
@import '../../styles/mixins.scss';

$section-prefix: 'ui-section';

.#{$section-prefix} {

  @include reset-component();

  &-icon {
    position: absolute;
    font-size: 36px;
    top: 8px;
    right: 30px;
    z-index: -1;
    opacity: 0.1;
    color: black;
  }

  &-content {
    background-color: #282b38;
    flex: 1;
    position: relative;
    overflow-x: auto;
    overflow-y: auto;

    &-padding {
      padding: 10px 8px 8px;
    }

    &-scroll-x {
      overflow-x: scroll;
    }

    &-scroll-y {
      overflow-y: scroll;
    }
  }

  &-box {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  }

  &-heading-box {
    background-color: #343747;
    vertical-align: middle;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 10;
    overflow: hidden;
  }

  &-heading {
    font-family: system-ui, sans-serif;
    text-transform: uppercase;
    display: inline;
    white-space: nowrap;
    font-weight: 700;
    color: $gray-100;
  }
}