@import '../../styles/functions.scss';
@import '../../styles/theme.scss';
@import '../../styles/mixins.scss';

$table-prefix: 'ui-table';

.#{$table-prefix} {

  @include reset-component();

  &-link {
    cursor: pointer;
  }

  &-color-sell {
    color: #ef5451;
  }

  &-color-buy {
    color: #2aa599;
  }
}
