@import '../../styles/functions.scss';
@import '../../styles/theme.scss';
@import '../../styles/mixins.scss';

$select-prefix: 'ui-select';


$zIndex__base: 0;

$bg__default: white;
$bg__disabled: #f7f7f7;

$bg__optionSelected: #ddd;
$bg__optionHover: #eee;

$textColor__default: #333;
$textColor__disabled: #717171;
$textColor__disabledOption: #adadad;

$clickableIcon__idle: #aaa;
$clickableIcon__hover: #717171;

@function makeClassName($name) {
  @return '.#{$select-prefix}#{$name}';
}

@mixin style($name) {
  #{makeClassName($name)} {
    @content;
  }
}

@mixin active {
  &#{makeClassName('-active')} {
    @content;
  }
}

@mixin not__active {
  &:not(#{makeClassName('-active')}) {
    @content;
  }
}

@mixin disabled {
  &#{makeClassName('-disabled')} {
    @content;
  }
}

@mixin selected {
  &#{makeClassName('-selected')} {
    @content;
  }
}

  @include style('-container') {
    background: $bg__default;
    color: $textColor__default;
    position: relative;

    @include disabled {
      background: $bg__disabled;
      color: $textColor__disabled;
    }
  }

  @include style('-currentValue') {
    left: 14px;
    pointer-events: none;
    position: absolute;

    &#{makeClassName('-placeholder')} {
      color: $textColor__disabled;
    }
  }

  @include style('-hidden') {
    visibility: hidden;
  }

  @include style('-labelWrapper') {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 4px;
    padding-left: 2px;
  }

  @include style('-label') {
  }

  @include style('-inputWrapper') {
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: default;
    display: flex;
    padding: 8px 12px;
    z-index: $zIndex__base;

    @include active {
      border: 1px solid #999;
    }

    input {
      border: 0;
      font-family: inherit;
      font-size: inherit;
      width: 100%;

      &:focus {
        outline: none;
      }

      &[readonly] {
        cursor: default;
      }
    }
  }

  input#{makeClassName('-selectInput')} {
    background: $bg__default;
    cursor: default;

    @include disabled {
      background: $bg__disabled;
    }
  }

  @include style('-optionsWrapper') {
    background: $bg__default;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px, rgba(0, 0, 0, 0.1) 0 4px 11px;
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    padding: 4px 0;
    position: absolute;
    width: 100%;
    z-index: $zIndex__base + 1;
  }

  @include style('-option') {
    cursor: pointer;
    display: flex;
    padding: 8px 12px;
    user-select: none;

    &#{makeClassName('-highlighted')} {
      background: $bg__optionHover;
    }

    @include selected {
      background: $bg__optionSelected;
    }

    &#{makeClassName('-noOptionsMessage')} {
      align-self: center;
      color: $textColor__disabled;
      cursor: default;
    }

    @include disabled {
      color: $textColor__disabledOption;
      cursor: default;
      text-decoration: line-through;
    }
  }

.#{$select-prefix} {
  @include reset-component();
  display: inline-block;

  &-icon {
    transform: rotate(0deg);
    transition: transform 200ms linear;

    &-visible {
      transform: rotate(180deg);
    }
  }
}