@import "../../styles/foundation";
@import "../../styles/elements";

.button {
  @include button-base;
  @include button-height($button-height);
}

.default {
  @include button();
}

@each $intent, $colors in $button-intents {
  .#{$intent} {
    @include button-intent($colors...);
  }
}

.disabled {
  cursor: not-allowed;
}

.fill {
  display: flex;
  width: 100%;
}

.textAlignRight {
  text-align: right;
}

.textAlignLeft {
  text-align: left;
}

.large {
  @include button-height-large();
}

.small {
  @include button-height-small();
}

.minimal {
  @include button-minimal();
}

.buttonText {
  flex: 0 1 auto;
}

