@import "../../styles/foundation";
@import "../../styles/elements";

/*
Navbars
Markup:

<nav class="navbar {{.modifier}}">
  <div class="navbar-group align-left">
    <div class="navbar-heading">Blueprint</div>
    <input class="input" placeholder="Search files..." type="text" />
  </div>
  <div class="navbar-group align-right">
    <button class="button minimal icon-home">Home</button>
    <button class="button minimal icon-document">Files</button>
    <span class="navbar-divider"></span>
    <button class="button minimal icon-user"></button>
    <button class="button minimal icon-notifications"></button>
    <button class="button minimal icon-cog"></button>
  </div>
</nav>

.dark - Dark theme

Styleguide navbar
*/

$navbar-padding: $grid-size * 1.5 !default;

$navbar-background-color: $white !default;

.navbar {
  position: relative;
  z-index: $z-index-content;
  box-shadow: $elevation-shadow-1;
  background-color: $navbar-background-color;
  width: 100%;
  height: $navbar-height;
  padding: 0 $navbar-padding;

  &.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
}

.navbar-heading {
  margin-right: $navbar-padding;
  font-size: $font-size-large;
}

.navbar-group {
  display: flex;
  align-items: center;
  height: $navbar-height;

  &.align-left {
    float: left;
  }

  &.align-right {
    float: right;
  }
}

.navbar-divider {
  margin: 0 $grid-size;
  border-left: 1px solid $divider-black;
  height: $navbar-height - $grid-size * 3;

  .dark & {
    border-left-color: $dark-divider-white;
  }
}

/*
Fixed width
Markup:
<nav class="navbar dark">
  <div style="margin: 0 auto; width: 480px;"> <!-- ADD ME -->
    <div class="navbar-group align-left">
      <div class="navbar-heading">Blueprint</div>
    </div>
    <div class="navbar-group align-right">
      <button class="button minimal icon-home">Home</button>
      <button class="button minimal icon-document">Files</button>
      <span class="navbar-divider"></span>
      <button class="button minimal icon-user"></button>
      <button class="button minimal icon-notifications"></button>
      <button class="button minimal icon-cog"></button>
    </div>
  </div>
</nav>
Styleguide navbar-container
*/
