@import '../../styles/functions.scss';
@import '../../styles/theme.scss';
@import '../../styles/mixins.scss';

$job-prefix: 'ui-job';

.#{$job-prefix} {

  &-box {
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba("#aaa", 0.6);

    &:last-child {
      border: none;
    }
  }
}