@import '../../styles/functions.scss';
@import '../../styles/theme.scss';
@import '../../styles/mixins.scss';

$balance-prefix: 'ui-balance';

.#{$balance-prefix} {

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
}